body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Tamaño del ícono */
}

.button:hover {
    transform: translateY(-5px) rotateY(10deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.facebook { border-color: #3b5998; }
.instagram { border-color: #E1306C; }
.linkedin { border-color: #0077b5; }
.youtube { border-color: #FF0000; }

.button i {
    color: currentColor; /* Usa el color del borde para el ícono */
}

footer {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.footer-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px; /* Espacio entre botones del footer */
}